*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
nav ul{
    display: flex;
    padding: 3% 0px 2% 40%;
}
nav ul li{
   padding-left: 8%;
}
.logoimage{
    position: absolute;
    top: 4%;
    left: 7%;
    border-radius: 100%;
    width: 6%;
}
.logo-paragraph{
    position: absolute;
    top: 6%;
    left: 15%;
    color: #fa5650;
}
header{
    display: flex;
}
.header-image{
    width: 75%;
}
.header-image img{
    width: 100%;
    height: 430px;
}
.header-content{
    width: 25%;
    background-color: #fa5650;
    color: white;
    margin-bottom: 4px;
    padding: 40px 0px 0px 40px;
}
header .h5{
    font-size: 280%;
    padding: 20px 0px;
}
header button{
    padding: 10px 15px;
    background-color: white;
    border: 2px solid white;
    margin-top: 20px;
}
main{
    background-color: rgb(246, 246, 246);
    margin-top: -4px;
    padding: 50px;
}
.ourrecipes{
    font-size: 170%;
    padding-bottom: 40px;
}
.filter{
    display: flex;
}
.filter-recipe{
    width: 22.6%;
    background-color: #fa5650;
    padding: 20px 10px 0px 10px;
    color: white;
}
.filter-search{
    display: flex;
    margin:20px 0px 20px 23px;
}
.filter-search p{
    margin-left: 640px;
}
.filter-search select{
    padding: 5px;
    margin-left: 10px;
}
 .selectrecipes{
    display: flex;
    background-color: #fa5650;
    padding: 20px 10px;
    color: white;
}
.selectrecipes ul li{
    padding: 5px 0px;
}
.foddtype, .nationaltity, .nationaltity1{
    width: 24%;
    margin-right: 23px;
}
.nationaltity2
{
    width: 24%;
}
.nationaltity1, .nationaltity2{
    padding-top: 30px;
}
.foddtype{
    border-right: 1px solid white;
}
.row1, .row2, .row3{
    display: flex;
    margin-top: 40PX;
}
.column1{
    width: 24%;
    margin-right: 20px;
    /* background-color: white; */
}
.column4{
    width: 24%;
    /* background-color: white; */
}
.column1 img, .column4 img{
    width: 100%;
    height: 250px;
}
.recipeitem{
    padding: 20px 20px;
    height: 120px;
    
}
.recipeitem-name{
    padding-top: 20px;
    font-size: 170%;
}
span{
    float: right;
}
.return
{
    color: #fa5650;
    padding-top: 30px;;
}
.reference{
    background-color: #fa5650;
    padding: 40px 50px;
    color: white;
}
.reference .heading{
    font-size: 200%;
    padding-bottom: 10px;
}
.remove, .addfriend
{
    display: flex;
}
.remove{
    border-bottom: 1px solid white;
    padding: 30px 0px;
}
.remove button{
    background-color: #fa5650;
    border: 2px solid #fa5650;
    color: white;
    margin-left: 80px;
}
.reference input{
    margin: 10px 40px 10px 0px;
    padding: 7px 120px 7px 0px;
}
.addfriend{
    padding: 30px 0px;
}
.addfriend button{
    margin: 30px 0px 20px;
    padding: 7px 30px;
    background-color: #fa5650;
    border: 1px solid white;
    color: white;
    margin-left: 80px;
}
.send{
    margin-left: 580px;
    padding: 7px 40px;
    background-color: white;
    border: 1px solid white;
}
.history
{
    background-color: rgb(246, 246, 246);
    padding:  50px;
    display: flex;
}
.head{
    font-size: 150%;
    padding-bottom: 20px;
}
.reccipestest
{
    width: 15%;
    margin-right: 3%;
}
.grilled{
    width: 18%;
    margin-right: 3%;
}
.tips{
    width: 14%;
    margin-right: 3%;
}
.help{
    width: 16%;
    margin-right: 7%;
}
.thegrilled{
    width: 24%;
}
.history a{
    text-decoration: none;
    color: #fa5650;
    margin-top: 20px;
}
.about{
    margin: 20px 0px;
}